a:hover {
  color: #00747F;
  font-weight: bold;
}

a {
  color: black;
  padding-bottom: 5px;
}
p {
  font-weight: bold;

}

p img {
  height: 80px;
  border-radius: 2%;
  margin: 5px 0;
}


.wrapper {
  width: 80%;
  height: 100%;
  padding: 5% 10%;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;

}
.search-recipe {
  width: 900px;
  height: 50px;
  float: left;
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  padding-left: 15px;
}

.search-button {
  border: solid 1px blue;
  height: 56px;
  width: 90px;
  font-size: 1em;
  background-color: #00747F;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;

}



.results{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  border: solid 3px #00747F;;
  height: 220px;
  width: 220px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
  background-color: white;
  text-transform: capitalize;

}

body {
  font-family: 'Oxygen', sans-serif;
  background-size: 50px 50px;
  background-color: white;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
                  -webkit-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
  background-image: -moz-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
                  -moz-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
  background-image: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
                  linear-gradient(90deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
-pie-background: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)) 0 0 / 50px 50px,
                 linear-gradient(90deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)) 0 0 / 50px 50px white;
behavior: url(/pie/PIE.htc);

  margin: 0;
}
